VITE_API_URL=http://localhost:3000
VITE_API_URL_WS=ws://localhost:3000/realtime
VITE_GALLERY_URL=https://cdn.arena360.cloud/kiosk/gallery.json
VITE_LOGIN_BACKGROUND_VIDEO_URL=https://cdn.arena360.cloud/launch.webm
# VITE_KIOSK_LOGO_URL=https://cdn.arena360.cloud/logo.png
VITE_OFFLINE_GRACE_MINUTES=5
